<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="sections/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<header th:insert="sections/header ::header">

</header>
<body>
<div class="container">
    <div class="row">
        <h2>Schools</h2>
        <div class="mb-3">
            <a class="btn btn-outline-success" href="/admin/schools/create">Create school</a>
        </div>
        <hr>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subjects</th>
                <th>Members</th>
                <th>Teachers</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${list}">
                    <td th:text="${item.getId()}"></td>
                    <td th:text="${item.getName()}"></td>

                    <td >
                        <div class="subjects">
                            <p th:each="it: ${item.getSubjects()}" th:text="${it.getSubject().getName()}"></p>
                        </div>
                    </td>
                    <td th:text="${item.getMembers().size()}"></td>
                    <td th:text="${item.getTeachers().size()}"></td>
                    <td>
                        <div class="btn-group">
                            <a href="" class="btn btn-outline-warning">Edit</a>
                            <a href="" class="btn btn-outline-primary">Details</a>
                            <a href="" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<footer th:insert="sections/footer ::footer">

</footer>
</html>