<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="sections/head ::head">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<header th:insert="sections/header ::header">

</header>
<body>
<div th:if="${(lesson==null&&member==null)||member!=null&& ((item.getTeacher()==null|| user.getId()==item.getTeacher().getId())|| (isDirector!=null&&isDirector==true))}" class="modal fade" id="addMember" tabindex="-1" aria-labelledby="exampleAddMember" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" >Add member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="addmember" method="post" id="addMemberForm">
                    <input type="hidden" name="class_" th:value="${item.getId()}">
                    <div class="mb-3">
                        <label class="w-100" >Members:
                            <input  id="search" onkeyup="findmembers(event)"   type="text" class="form-control"></label>
                        <ul class="chooseList" id="members">

                        </ul>
                        <div class="result row" id="result">

                        </div>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button form="addMemberForm"  class="btn btn-success">Add member</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <th:block th:insert="sections/userPanelMenu ::userPanelMenu">

        </th:block>
        <div class="col col-9">
            <div class="row p-4 border school-header">
                <div ><label class="fw-bold fs-5 me-3">School: </label><label class="fs-5" th:text="${item.getSchool().getName()}"></label></div>
                <div ><label class="fw-bold fs-5 me-3">Class: </label><label class="fs-5" th:text="${item.getName()}"></label></div>
                <div ><label class="fw-bold fs-5 me-3">Teacher: </label><label class="fs-5" th:text="${item.getTeacher()!=null?item.getTeacher().getFullname():'-'}"></label></div>
                <div ><label class="fw-bold fs-5 me-3">Members: </label><label class="fs-5" th:text="${item.getMembers().size()}"></label></div>
            </div>
            <div class="row p-4 border ">
                <div class="school-content">
                    <div class="row">
                        <div class="btn-group ">
                            <a th:href="'?member=0'+${choose!=null?'&choose='+choose:''}" th:class="'btn '+${(lesson==null&&member==null)||member!=null?'btn-primary':'btn-secondary'}">Members</a>
                            <a th:href="'?lesson=0'+${choose!=null?'&choose='+choose:''}"   th:class="'btn  '+${lesson!=null?'btn-primary':'btn-secondary'}">Lessons</a>
                        </div>

                    </div>
                    <div class="row overflow-y">
                        <div th:if="${(lesson==null&&member==null)||member!=null&&((item.getTeacher()==null|| user.getId()==item.getTeacher().getId())|| (isDirector!=null&&isDirector==true))}" class="p-0 mt-3">
                            <button class="btn btn-outline-success w-100" data-bs-toggle="modal" data-bs-target="#addMember">Add member</button>
                        </div>
                        <table class="table table-striped">
                            <thead >
                            <tr th:if="${(lesson==null&&member==null)||member!=null}">
                                <th>Id</th>
                                <th>Fullname</th>
<!--                                <th></th>-->
                            </tr>
                            <tr th:if="${lesson!=null}">
                                <th>Id</th>
                                <th>Lesson</th>
<!--                                <th></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item: ${members}">
                                <td th:text="${item.getId()}"></td>
                                <td th:text="${item.getFullname()}"></td>
<!--                                <td>-->
<!--                                    <div class="btn-group">-->
<!--                                        <a th:href="'/admin/classes/edit/'+${item.getId()}" class="btn btn-outline-warning">Edit</a>-->
<!--                                        <a href="" class="btn btn-outline-primary">Details</a>-->
<!--                                        <a th:href="'/admin/classes/delete/'+${item.getId()}" class="btn btn-outline-danger">Delete from class</a>-->
<!--                                    </div>-->
<!--                                </td>-->
                            </tr>
                            <tr th:each="item: ${lessons}">
                                <td th:text="${item.getId()}"></td>
                                <td th:text="${item.getSubject().getSubject().getName()}+' '+${item.getSchoolClass().getName()}"></td>
<!--                                <td>-->
<!--                                    <div class="btn-group">-->
<!--                                        <a th:href="'/admin/classes/edit/'+${item.getId()}" class="btn btn-outline-warning">Edit</a>-->
<!--                                        <a href="" class="btn btn-outline-primary">Details</a>-->
<!--                                        <a th:href="'/admin/classes/delete/'+${item.getId()}" class="btn btn-outline-danger">Delete from class</a>-->
<!--                                    </div>-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:inline="javascript" th:if="${(lesson==null&&member==null)||member!=null&&((item.getTeacher()==null||user.getId()==item.getTeacher().getId())|| (isDirector!=null&&isDirector==true))}">
    let choosed = [];
    /*<![CDATA[*/
    let yourArray = /*[[${availableMembers}]]*/ [];
    /*]]>*/
    let memb = document.getElementById("members");
    let result = document.getElementById("result");
    let search = document.getElementById("search");
    console.log(yourArray);
    function addStartElements()
    {
        if(yourArray.length==0)
            document.getElementById("search").disabled=true;
        for(let i=0; i<yourArray.length;i++)
        {
            memb.innerHTML+=`<li class="membitem" id="membitem${yourArray[i].id}">${yourArray[i].fullname}</li>`
        }
        addEventOnMembItem();
    }
    addStartElements();
    function addEventOnMembItem(){
        $(`.membitem`).on("click",(event)=>{
            let text = event.target.innerText;
            let id = event.target.id;

            memb.removeChild(memb.children.namedItem(id));
            let itemId = id.slice(-id.length+8)
            let obj = yourArray.find(t=>t.id==itemId);
            choosed.push(obj);
            yourArray = yourArray.filter(t=>t.id!=itemId);
            // console.log(yourArray);
            // console.log(choosed);
            result.innerHTML+=`
            <div class="resitem col col-6" id="resitem${obj.id}" >
                <div class=" d-flex">
                <input type="hidden" name="members" value="${obj.id}">
                <h5 >${obj.fullname}</h5>
                <div id="del${obj.id}" onclick="deletemembect(event)" class="cancelResBtn"><img class="w-100" src="https://examjava.blob.core.windows.net/icons/cancel.png"></div>
                </div>
            </div>
            `
            if(yourArray.length==0)
                document.getElementById("search").disabled=true;

        })
    }

    function deletemembect(e){
        let id = e.currentTarget.id;
        let membId = id.slice(-id.length+3);
        let obj = choosed.find(t=>t.id==membId);
        yourArray.push(obj);
        choosed = choosed.filter(t=>t.id!=membId);
        result.removeChild(result.children.namedItem(`resitem${obj.id}`));
        if(yourArray.length>0&&document.getElementById("search").disabled)
            document.getElementById("search").disabled=false;
        findmembers();
    }
    let word ="";
    function findmembers(e){
        if(e!=null)
        {
            let searchWord = e.target.value;
            word = searchWord;
        }
        let ar = yourArray.filter(t=>t.fullname.toLowerCase().includes(word.toLowerCase()))
        memb.innerHTML="";
        for(let i=0; i<ar.length;i++)
        {
            memb.innerHTML+=`<li class="membitem" id="membitem${ar[i].id}">${ar[i].fullname}</li>`
        }
        addEventOnMembItem();
    }
</script>
</body>
<footer th:insert="sections/footer ::footer">

</footer>

</html>